
@font-face {
    font-family: aAkhirTahun;
    src: url("fonts/aAkhirTahun.ttf")
}

@font-face {
    font-family: Pokemon;
    src: url("fonts/Pokemon\ Solid.ttf")
}

@font-face {
    font-family: Mario;
    src: url("fonts/SuperMario256.ttf")
}

body {
    background-image: url("images/vintage.png");
}

#main-form-title {
    font-family: Pokemon;
    color: #f1c40f
}

#main-tagline {
    font-family: Pokemon;
    color: #f1c40f
}

#main-questions {
    font-family: Mario;
    color: #f1c40f
}

#answers {
    font-family: aAkhirTahun;
    color: white
}
    
